@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

html,
body {
  font-family: var(--font-figtree);
  overscroll-behavior: none; /* Prevents the rubber band effect*/
  -webkit-overflow-scrolling: touch;
}
